html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: $white;
  font-family: 'Open Sans', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
    position: relative;
    top: 0;
    left: 0;
}

body {
    position: absolute;
    top: 0;
    left: 0;
}

/*
    Containers
*/
div#container-main, div#container-mail-list, div#container-preview {
    background-color: $gray-100;
    float: left;
    height: 100%;
}

/*
    Container main
*/
div#container-main {
    width: 180px;
}

/*
    Continer mail list
*/
div#container-mail-list {
    width: 260px;
    background-color: orange;
}

/*
    Contianer preview
*/
div#container-preview {
    @include prefixer(width, calc(100% - 440px));
    background-color: $white;
}
