.modal-content {
    border-radius: 0;
    box-shadow: 0px 11px 44px 0px rgba(0,0,0,0.10);
    border: none;
}

.modal-open, .modal, .in, .modal-backdrop {
    background: rgba(185,185,185,0.30) !important;
}

.modal-open > #container-main,
.modal-open > #container-mail-list,
.modal-open > #container-preview {
    @include prefixer(filter, blur(6px));
}
